extends layout
block content
  // banner
  #myCarousel.carousel.slide(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
      li(data-target='#myCarousel', data-slide-to='4')
    .carousel-inner(role='listbox')
      .item.active
        .container
          .carousel-caption
            h3
              | The Biggest 
              span Sale
            p Special for today
            a.hvr-outline-out.button2(href='/mobile&tablet') Shop Now 
      .item.item2
        .container
          .carousel-caption
            h3
              | Summer 
              span Collection
            p New Arrivals On Sale
            a.hvr-outline-out.button2(href='mens.html') Shop Now 
      .item.item3
        .container
          .carousel-caption
            h3
              | The Biggest 
              span Sale
            p Special for today
            a.hvr-outline-out.button2(href='mens.html') Shop Now 
      .item.item4
        .container
          .carousel-caption
            h3
              | Summer 
              span Collection
            p New Arrivals On Sale
            a.hvr-outline-out.button2(href='mens.html') Shop Now 
      .item.item5
        .container
          .carousel-caption
            h3
              | The Biggest 
              span Sale
            p Special for today
            a.hvr-outline-out.button2(href='mens.html') Shop Now 
    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
      span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
      span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
      span.sr-only Next
    // The Modal
  // //banner

  // /new_arrivals
  .new_arrivals_agile_w3ls_info
    .container
      h3.wthree_text_info
        | New 
        span Arrivals
      #horizontalTab
        ul.resp-tabs-list
          li  Mobile
          li  Tablet
          li  Laptop
          li  Phụ kiện
        .resp-tabs-container
          // /tab_one
          .tab1
            each mobile in mobiles
              .col-md-3.product-men
                .men-pro-item.simpleCart_shelfItem
                  a(href='/product/#{mobile._id}') 
                    .men-thumb-item
                      img.pro-image-front(src=mobile.image_paths[0], alt=mobile.title+' front_image')
                      .div-image-back
                        img.image-back(src=mobile.image_paths[1], alt=mobile.title+' back_image')
                    span.product-new-top New
                  .item-info-product
                    h4
                      a(href='/product/#{mobile._id}') #{mobile.title}
                    .info-product-price
                      span.item_price #{mobile.price}
                      span &#8363
                    a(href='/product/#{mobile._id}') 
                      button Xem chi tiết
            .clearfix
          // //tab_one
          // /tab_two
          .tab2
            each tablet in tablets
              .col-md-3.product-men
                .men-pro-item.simpleCart_shelfItem
                  a(href='/product/#{tablet._id}') 
                    .men-thumb-item
                      img.pro-image-front(src=tablet.image_paths[0], alt=tablet.title+' front_image')
                      .div-image-back
                        img.image-back(src=tablet.image_paths[1], alt=tablet.title+' back_image')
                    span.product-new-top New
                  .item-info-product
                    h4
                      a(href='/product/#{tablet._id}') #{tablet.title}
                    .info-product-price
                      span.item_price #{tablet.price}
                      span &#8363
                    a(href='/product/#{tablet._id}') 
                      button Xem chi tiết
            .clearfix
          // //tab_two
          .tab3
            each laptop in laptops
              .col-md-3.product-men
                .men-pro-item.simpleCart_shelfItem
                  a(href='/product/#{laptop._id}') 
                    .men-thumb-item
                      img.pro-image-front(src=laptop.image_paths[0], alt=laptop.title+' front_image')
                      .div-image-back
                        img.image-back(src=laptop.image_paths[1], alt=laptop.title+' back_image')
                    span.product-new-top New
                  .item-info-product
                    h4
                      a(href='/product/#{laptop._id}') #{laptop.title}
                    .info-product-price
                      span.item_price #{laptop.price}
                      span &#8363
                    a(href='/product/#{laptop._id}') 
                      button Xem chi tiết
            .clearfix
          .tab4
            each accessories in accessories_list
              .col-md-3.product-men
                .men-pro-item.simpleCart_shelfItem
                  a(href='/product/#{accessories._id}') 
                    .men-thumb-item
                      img.pro-image-front(src=accessories.image_paths[0], alt=accessories.title+' front_image')
                      .div-image-back
                        img.image-back(src=accessories.image_paths[1], alt=accessories.title+' back_image')
                    span.product-new-top New
                  .item-info-product
                    h4
                      a(href='/product/#{accessories._id}') #{accessories.title}
                    .info-product-price
                      span.item_price #{accessories.price}
                      span &#8363
                    a(href='/product/#{accessories._id}') 
                      button Xem chi tiết
            .clearfix
  // //new_arrivals
  // /we-offer
  .sale-w3ls
    .container
      h6
        | We Offer  
        span Special
        |  Product
      a.hvr-outline-out.button2(href='/mobile&tablet') Shop Now 
  // //we-offer
