extends layout

block content
  .page-head_agile_info_w3l
    .laptop_background
      .container
        h3
          |  
          span Laptop 
        // /w3_short
        .services-breadcrumb
          .agile_inner_breadcrumb
            ul.w3_short
              li
                a(href='index.html') Trang chủ
                i |
              li Laptop
        // //w3_short


  // banner-bootom-w3-agileits
  .banner-bootom-w3-agileits
    .container
      // mens
      .col-md-4.products-left
        .filter-price
          h3
            | Filter By 
            span Price
          ul.dropdown-menu6
            li
              #slider-range(class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all")
              input#amount(type='text', style='border: 0; color: #ffffff; font-weight: normal;')
        .css-treeview
          h4 Categories
          ul.tree-list-pad
            li
              input#item-0(type='radio', name='category', checked=true)
              label(for='item-0')
                i.fa.fa-long-arrow-right(aria-hidden='true')
                |  Thương hiệu
              ul
                each manufacturer in manufacturers
                  li
                    a(href='?manufacturer=#{manufacturer.id}') #{manufacturer.name}
        .clearfix
      .col-md-8.products-right
        h5
          | Product 
          span Compare(0)
        .sort-grid
          .sorting-StyleCss
            h6 Sort By
            select#country1.frm-field.required.sect(onchange='change_country(this.value)')
              option(value='null') Default
              option(value='null') Name(A - Z)
              option(value='null') Name(Z - A)
              option(value='null') Price(High - Low)
              option(value='null') Price(Low - High)
              option(value='null') Model(A - Z)
              option(value='null') Model(Z - A)
            .clearfix
          .sorting-StyleCss
            h6 Showing
            select#country2.frm-field.required.sect(onchange='change_country(this.value)')
              option(value='null') 7
              option(value='null') 14
              option(value='null') 28
              option(value='null') 35
            .clearfix
          .clearfix
        .men-wear-top
          #top.callbacks_container
            ul#slider3.rslides
              li
                img.img-responsive(src='/images/banner4.jpg', alt=' ')
              li
                img.img-responsive(src='/images/banner5.jpg', alt=' ')
              li
                img.img-responsive(src='/images/banner6.jpg', alt=' ')
          .clearfix
        .men-wear-bottom
          .col-sm-4.men-wear-left
            img.img-responsive(src='/images/bb2.jpg', alt=' ')
          .col-sm-8.men-wear-right
            h4
              | Exclusive Men's 
              span Collections
            p
              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              | accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
              | ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
              | explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
              | odit aut fugit.
          .clearfix
        
      .clearfix
      .single-pro
        each product in products
          .col-md-3.product-men
            .men-pro-item.simpleCart_shelfItem
              a(href='/product/#{product._id}')
                .men-thumb-item
                  img.pro-image-front(src=product.image_paths[0], alt=product.title+' front_image')
                  .div-image-back
                    img.image-back(src=product.image_paths[1], alt=product.title+' back_image')
                 span.product-new-top New
              .item-info-product
                h4
                  a(href='single.html') #{product.title}
                .info-product-price
                  span.item_price #{product.price}&#8363
                  //- del $69.71
                a(href='/product/#{product._id}')
                  button Xem chi tiết
        .clearfix
  // //mens

  script(src='/js/responsiveslides.min.js')
  script.
    // You can also use "$(window).load(function() {"
    $(function () {
    // Slideshow 4
    $("#slider3").responsiveSlides({
    auto: true,
    pager: true,
    nav: false,
    speed: 500,
    namespace: "callbacks",
    before: function () {
    $('.events').append("<li>before event fired.</li>");
    },
    after: function () {
    $('.events').append("<li>after event fired.</li>");
    }
    });
    });



  // 
  script(type='text/javascript').
    //<![CDATA[
    $(window).load(function(){
    $( "#slider-range" ).slider({
    range: true,
    min: 0,
    max: 9000,
    values: [ 1000, 7000 ],
    slide: function( event, ui ) {  $( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
    }
    });
    $( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) + " - $" + $( "#slider-range" ).slider( "values", 1 ) );
    });//]]>
  script(type='text/javascript', src='/js/jquery-ui.js')
  // 