extends layout

block content    
    // banner-bootom-w3-agileits
    .banner-bootom-w3-agileits
        .container
            .col-md-4.single-right-left
                .grid.images_3_of_2
                    .flexslider
                        ul.slides
                            each image_path in product.image_paths
                                li(data-thumb=image_path)
                                    .thumb-image
                                        img.img-responsive(src=image_path, data-imagezoom='true')
                        .clearfix
            form(action='#', method='post').col-md-8.single-right-left.simpleCart_shelfItem
                h3 #{product.title}
                p
                    span.item_price #{product.price}
                    span &#8363
                    //- del - $900
                //- .rating1
                //-     span.starRating
                //-         input#rating5(type='radio', name='rating', value='5')
                //-         label(for='rating5') 5
                //-         input#rating4(type='radio', name='rating', value='4')
                //-         label(for='rating4') 4
                //-         input#rating3(type='radio', name='rating', value='3', checked='')
                //-         label(for='rating3') 3
                //-         input#rating2(type='radio', name='rating', value='2')
                //-         label(for='rating2') 2
                //-         input#rating1(type='radio', name='rating', value='1')
                //-         label(for='rating1') 1
                .description.color-quality-right
                    if (product.manufacturer)
                        h5 Thương hiệu:
                        if (product.product_type.name=="Mobile" || product.product_type.name=="Tablet")
                            a(href="/mobile&tablet?manufacturer=#{product.manufacturer._id}", style="text-transform: uppercase;") #{product.manufacturer.name}
                        else
                            if (product.product_type.name=="Phụ kiện")
                                a(href="/accessories?manufacturer=#{product.manufacturer._id}", style="text-transform: uppercase;") #{product.manufacturer.name}
                            else
                                a(href="/laptop?manufacturer=#{product.manufacturer._id}", style="text-transform: uppercase;") #{product.manufacturer.name}
                .color-quality
                    .color-quality-right
                        h5 Số lượng :
                        input.text-center(type='number', name='quatity', value='1', min="1", oninput="validity.valid||(value='');", style='width: 100px')
                .occasional
                    h5 Màu sắc :
                    each color in product.colors
                        .colr
                            label.radio
                                input(type='radio', name='item_number' required value=color)
                                i
                                | #{color}
                    .clearfix  
                .occasion-cart
                    .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                        
                            fieldset
                                input(type='hidden', name='cmd', value='_cart')
                                input(type='hidden', name='add', value='1')
                                input(type='hidden', name='business', value=' ')
                                input(type='hidden', name='item_name', value=product.title)
                                input(type='hidden', name='amount', value=product.price)
                                input(type='hidden', name='discount_amount', value='0')
                                input(type='hidden', name='currency_code', value='VND')
                                input(type='hidden', name='return', value=' ')
                                input(type='hidden', name='cancel_return', value=' ')
                                input.button(type='submit', name='submit', value='Add to cart')
                ul.social-nav.model-3d-0.footer-social.w3_agile_social.single_page_w3ls
                    li.share Chia sẻ : 
                    | &#32
                    li
                        a.facebook(href='#')
                            .front
                                i.fa.fa-facebook(aria-hidden='true')
                            .back
                                i.fa.fa-facebook(aria-hidden='true')
                    | &#32
                    li
                        a.twitter(href='#')
                            .front
                                i.fa.fa-twitter(aria-hidden='true')
                            .back
                                i.fa.fa-twitter(aria-hidden='true')
                    | &#32
                    li
                        a.instagram(href='#')
                            .front
                                i.fa.fa-instagram(aria-hidden='true')
                            .back
                                i.fa.fa-instagram(aria-hidden='true')
                    | &#32
                    li
                        a.pinterest(href='#')
                            .front
                                i.fa.fa-linkedin(aria-hidden='true')
                            .back
                                i.fa.fa-linkedin(aria-hidden='true')
                    | &#32
            .clearfix  
            // /new_arrivals
            .responsive_tabs_agileits
                #horizontalTab
                    ul.resp-tabs-list
                        li Mô tả
                        if (product.specifications)
                            li Thông số kỹ thuật
                        li Bình luận & Đánh giá
                    .resp-tabs-container
                        // /tab_one
                        .tab1
                            .single_page_agile_its_w3ls
                                h6 #{product.title}
                                p #{product.description}
                        // //tab_one
                        if (product.specifications)
                            .tab2
                                .single_page_agile_its_w3ls
                                    h6
                                        .col-md-4.text-right
                                            | Model: 
                                        .col-md-8
                                            | #{product.specifications.model}
                                    br
                                    if (product.specifications.dimensions)
                                        .col-md-4.text-right
                                            b
                                                | Dimensions:
                                        .col-md-8
                                            | #{product.specifications.dimensions}
                                    if (product.specifications.weight)
                                        .col-md-4.text-right
                                            b
                                                | Weight:
                                        .col-md-8
                                            | #{product.specifications.weight}
                                    if (product.specifications.cpu)
                                        .col-md-4.text-right
                                            b
                                                | CPU:
                                        .col-md-8
                                            | #{product.specifications.cpu}
                                    if (product.specifications.gpu)
                                        .col-md-4.text-right
                                            b
                                                | GPU:
                                        .col-md-8
                                            | #{product.specifications.gpu}
                                    if (product.specifications.ram_type)
                                        .col-md-4.text-right
                                            b
                                                | Ram type:
                                        .col-md-8
                                            | #{product.specifications.ram_type}
                                    if (product.specifications.ram_size_GB)
                                        .col-md-4.text-right
                                            b
                                                | Ram size:
                                        .col-md-8
                                            | #{product.specifications.ram_size_GB} GB
                                    if (product.specifications.storage_type)
                                        .col-md-4.text-right
                                            b
                                                | Storage type:
                                        .col-md-8
                                            | #{product.specifications.storage_type}
                                    if (product.specifications.storage_size)
                                        .col-md-4.text-right
                                            b
                                                | Storage size:
                                        .col-md-8
                                            | #{product.specifications.storage_size} #{product.specifications.storage_uom}
                                    if (product.specifications.memory_cards)
                                        .col-md-4.text-right
                                            b
                                                | Memory cards:
                                        .col-md-8
                                            | #{product.specifications.memory_cards}
                                    if (product.specifications.scr_type)
                                        .col-md-4.text-right
                                            b
                                                | Screen type:
                                        .col-md-8
                                            | #{product.specifications.scr_type}
                                    if (product.specifications.scr_size_INCH)
                                        .col-md-4.text-right
                                            b
                                                | Screen size:
                                        .col-md-8
                                            | #{product.specifications.scr_size_INCH} inch
                                    if (product.specifications.battery)
                                        .col-md-4.text-right
                                            b
                                                | Battery:
                                        .col-md-8
                                            | #{product.specifications.battery}
                                    if (product.specifications.os)
                                        .col-md-4.text-right
                                            b
                                                | OS:
                                        .col-md-8
                                            | #{product.specifications.os}
                                    if (product.specifications.front_camera)
                                        .col-md-4.text-right
                                            b
                                                | Front camera:
                                        .col-md-8
                                            | #{product.specifications.front_camera}
                                    if (product.specifications.back_camera)
                                        .col-md-4.text-right
                                            b
                                                | Back camera:
                                        .col-md-8
                                            | #{product.specifications.back_camera}
                                    if (product.specifications.sim)
                                        .col-md-4.text-right
                                            b
                                                | Sim:
                                        .col-md-8
                                            | #{product.specifications.sim}
                                    if (product.specifications.wifi)
                                        .col-md-4.text-right
                                            b
                                                | Wifi:
                                        .col-md-8
                                            | #{product.specifications.wifi}
                                    if (product.specifications.usb)
                                        .col-md-4.text-right
                                            b
                                                | USB:
                                        .col-md-8
                                            | #{product.specifications.usb}
                                    if (product.specifications.bluetooth)
                                        .col-md-4.text-right
                                            b
                                                | Bluetooth:
                                        .col-md-8
                                            | #{product.specifications.bluetooth}
                                    
                                    //- p.w3ls_para Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget nisl ullamcorper, molestie blandit ipsum auctor.

                        .tab3
                            .single_page_agile_its_w3ls
                                .bootstrap-tab-text-grids
                                    .bootstrap-tab-text-grid
                                        .bootstrap-tab-text-grid-left
                                            img.img-responsive(src='/images/t1.jpg', alt=' ')
                                        .bootstrap-tab-text-grid-right
                                            ul
                                                li
                                                    a(href='#') Admin
                                                li
                                                    a(href='#')
                                                        i.fa.fa-reply-all(aria-hidden='true')
                                                        |  Reply
                                            p
                                                | Lorem ipsum dolor sit amet, consectetur adipisicing elPellentesque vehicula augue eget.Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
                                                | suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                                                | vel eum iure reprehenderit.
                                        .clearfix  
                                    .add-review
                                        h4 add a review
                                        form(action='#', method='post')
                                            input(type='text', name='Name', required='Name')
                                            input(type='email', name='Email', required='Email')
                                            textarea(name='Message', required='')
                                            input(type='submit', value='SEND')
            // //new_arrivals
            // /slider_owl
            .w3_agile_latest_arrivals
                h3.wthree_text_info
                    | Featured 
                    span Arrivals
                .col-md-3.product-men.single
                    .men-pro-item.simpleCart_shelfItem
                        .men-thumb-item
                            img.pro-image-front(src='/images/w2.jpg', alt='')
                            img.pro-image-back(src='/images/w2.jpg', alt='')
                            .men-cart-pro
                                .inner-men-cart-pro
                                    a.link-product-add-cart(href='single.html') Quick View
                            span.product-new-top New
                        .item-info-product
                            h4
                                a(href='single.html') Sleeveless Solid Blue Top
                            .info-product-price
                                span.item_price $140.99
                                del $189.71
                            .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                                form(action='#', method='post')
                                    fieldset
                                        input(type='hidden', name='cmd', value='_cart')
                                        input(type='hidden', name='add', value='1')
                                        input(type='hidden', name='business', value=' ')
                                        input(type='hidden', name='item_name', value='Sleeveless Solid Blue Top')
                                        input(type='hidden', name='amount', value='30.99')
                                        input(type='hidden', name='discount_amount', value='1.00')
                                        input(type='hidden', name='currency_code', value='USD')
                                        input(type='hidden', name='return', value=' ')
                                        input(type='hidden', name='cancel_return', value=' ')
                                        input.button(type='submit', name='submit', value='Add to cart')
                .col-md-3.product-men.single
                    .men-pro-item.simpleCart_shelfItem
                        .men-thumb-item
                            img.pro-image-front(src='/images/w4.jpg', alt='')
                            img.pro-image-back(src='/images/w4.jpg', alt='')
                            .men-cart-pro
                                .inner-men-cart-pro
                                    a.link-product-add-cart(href='single.html') Quick View
                            span.product-new-top New
                        .item-info-product
                            h4
                                a(href='single.html') Black Basic Shorts
                            .info-product-price
                                span.item_price $120.99
                                del $189.71
                            .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                                form(action='#', method='post')
                                    fieldset
                                        input(type='hidden', name='cmd', value='_cart')
                                        input(type='hidden', name='add', value='1')
                                        input(type='hidden', name='business', value=' ')
                                        input(type='hidden', name='item_name', value='Black Basic Shorts')
                                        input(type='hidden', name='amount', value='30.99')
                                        input(type='hidden', name='discount_amount', value='1.00')
                                        input(type='hidden', name='currency_code', value='USD')
                                        input(type='hidden', name='return', value=' ')
                                        input(type='hidden', name='cancel_return', value=' ')
                                        input.button(type='submit', name='submit', value='Add to cart')
                .col-md-3.product-men.single
                    .men-pro-item.simpleCart_shelfItem
                        .men-thumb-item
                            img.pro-image-front(src='/images/s6.jpg', alt='')
                            img.pro-image-back(src='/images/s6.jpg', alt='')
                            .men-cart-pro
                                .inner-men-cart-pro
                                    a.link-product-add-cart(href='single.html') Quick View
                            span.product-new-top New
                        .item-info-product
                            h4
                                a(href='single.html') Aero Canvas Loafers  
                            .info-product-price
                                span.item_price $120.99
                                del $199.71
                            .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                                form(action='#', method='post')
                                    fieldset
                                        input(type='hidden', name='cmd', value='_cart')
                                        input(type='hidden', name='add', value='1')
                                        input(type='hidden', name='business', value=' ')
                                        input(type='hidden', name='item_name', value='Aero Canvas Loafers')
                                        input(type='hidden', name='amount', value='30.99')
                                        input(type='hidden', name='discount_amount', value='1.00')
                                        input(type='hidden', name='currency_code', value='USD')
                                        input(type='hidden', name='return', value=' ')
                                        input(type='hidden', name='cancel_return', value=' ')
                                        input.button(type='submit', name='submit', value='Add to cart')
                .col-md-3.product-men.single
                    .men-pro-item.simpleCart_shelfItem
                        .men-thumb-item
                            img.pro-image-front(src='/images/w7.jpg', alt='')
                            img.pro-image-back(src='/images/w7.jpg', alt='')
                            .men-cart-pro
                                .inner-men-cart-pro
                                    a.link-product-add-cart(href='single.html') Quick View
                            span.product-new-top New
                        .item-info-product
                            h4
                                a(href='single.html') Ankle Length Socks
                            .info-product-price
                                span.item_price $100.99
                                del $159.71
                            .snipcart-details.top_brand_home_details.item_add.single-item.hvr-outline-out.button2
                                form(action='#', method='post')
                                    fieldset
                                        input(type='hidden', name='cmd', value='_cart')
                                        input(type='hidden', name='add', value='1')
                                        input(type='hidden', name='business', value=' ')
                                        input(type='hidden', name='item_name', value='Ankle Length Socks')
                                        input(type='hidden', name='amount', value='30.99')
                                        input(type='hidden', name='discount_amount', value='1.00')
                                        input(type='hidden', name='currency_code', value='USD')
                                        input(type='hidden', name='return', value=' ')
                                        input(type='hidden', name='cancel_return', value=' ')
                                        input.button(type='submit', name='submit', value='Add to cart')
                .clearfix  
                // //slider_owl

    script.
        // Can also be used with $(document).ready()
        $(window).load(function() {
            //check one color default
            $("input:radio[name=item_number]:first").attr('checked', true);

            // FlexSlider
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
            // //FlexSlider
        });
